.forgot-password {
    text-align: center; /* Center the forgot password link */
    margin-top: 15px; /* Space above the link */
}

.forgot-password a {
    color: #620462;
    text-decoration: none;
}
