.password-wrapper {
    position: relative;
}

.password-container {
    display: flex;
    align-items: center; 
    width: 100%; 
    position: relative;
}

.password-input {
    flex: 1; 
    padding-right: 70px; 
}

.toggle-password {
    position: absolute;
    right: 15px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none; 
    outline: none; 
    padding: 0; 
    color: #620462;

.password-icon {
    width: 20px; 
    height: 20px; 
}
}